<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="utf-8">
    <title>PeteFest UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- ==============================================
    Favicons
    =============================================== -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="~/assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/images/apple-touch-icon-114x114.png">

    <!-- ==============================================
    CSS
    =============================================== -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/flexslider.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-lightbox.min.css" />

    <!-- ==============================================
    Fonts
    =============================================== -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <!-- ==============================================
    JS
    =============================================== -->
    <!--[if lt IE 9]>
        <script src="~/assets/js/libs/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="~/assets/js/libs/modernizr.min.js"></script>

</head>

<body data-spy="scroll" data-target="#main-nav" data-offset="200">

    <!--=== PAGE PRELOADER ===-->
    <div id="page-loader"><span class="page-loader-gif"></span></div>

<div id="main-nav" class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <!-- ======= LOGO ========-->
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/assets/images/logo.png"/></a>
        </div>

        <div id="site-nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("About", "Index", "About")
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        2015 Festival
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown">
                            @Html.ActionLink("Performers", "Performers", "Festival")
                        </li>
                        <li class="dropdown">
                            @Html.ActionLink("Programme", "Programme", "Festival")
                        </li>
                        <li class="dropdown">
                            @Html.ActionLink("Tickets", "Tickets", "Festival")
                        </li>
                        <li class="dropdown">
                            @Html.ActionLink("How to get here", "Map", "Festival")
                        </li> 
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

    <div class="container add-padding-top">
        @Html.Partial("_Alerts")
    </div>

    <div class="container">
        @RenderBody()
    </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/assets/js/libs/jquery-1.8.2.min.js">\x3C/script>')</script>

        <script src="~/assets/js/libs/bootstrap.min.js"></script>
        <script src="~/assets/js/jquery.scrollto.js"></script>
        <script src="~/assets/js/waypoints.min.js"></script>
        <script src="~/assets/js/jquery.masonry.min.js"></script>
        <script src="~/assets/js/jquery.flexslider.min.js"></script>
        <script src="~/assets/js/jquery.backstretch.min.js"></script>
        <script src="~/assets/js/twitterFetcher_v10_min.js"></script>
        <script src="~/assets/js/contact.js"></script>
        <script src="~/assets/js/scripts.js"></script>
        <script src="~/assets/js/libs/bootstrap-lightbox.min.js"></script>
</body>
</html>